In [2]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [3]:
model_experiment = pd.read_csv(r'/Users/meghanchilds/Desktop/Dissertation_Research/COVID-19-Model-Formal-Calibration/MCMC CSV Files/Model_experiment_data_frame_rerun_APR_24.csv', names =['days', 'tests administered', 'positive test results', 'isolation pool', 'models proba pos test'])

model_experiment

,days,tests administered,positive test results,isolation pool,models proba pos test
NaN,day,tests administered,pos_test_results_day,isolation_pool,models proba of a pos test
0.0,1.0,0.0,0.0,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.0,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.01007955935287349,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,0.5569784939179885,3.2948666062718583,0.002475459972968838
...,...,...,...,...,...
62.0,63.0,78.0,0.8015408286145453,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.0,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.0,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.2293999876683657,57.638750893604254,0.011598113091210996
66.0,67.0,47.333333333333336,0.5628012564616853,57.42056331186001,0.007926778260023736

In [6]:
model_experiment = model_experiment.drop(labels = np.nan, axis =0)
model_experiment

,days,tests administered,positive test results,isolation pool,models proba pos test
0.0,1.0,0.0,0.0,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.0,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.01007955935287349,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,0.5569784939179885,3.2948666062718583,0.002475459972968838
4.0,5.0,74.0,0.18006115624282018,3.5362386291890946,0.0024332588681462183
...,...,...,...,...,...
62.0,63.0,78.0,0.8015408286145453,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.0,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.0,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.2293999876683657,57.638750893604254,0.011598113091210996
66.0,67.0,47.333333333333336,0.5628012564616853,57.42056331186001,0.007926778260023736

In [7]:
residuals = np.zeros(len(model_experiment.iloc[:,0]))

for i in range(len(model_experiment.iloc[:,0])):
    std = 2*float(model_experiment.iloc[i,1])*float(model_experiment.iloc[i,4])*(1-float(model_experiment.iloc[i,4]))
    residuals[i] = norm.rvs(loc = 0, scale = std, size =1)

In [8]:
residuals

array([ 0.00000000e+00,  0.00000000e+00, -2.56457775e-02, -1.96592541e+00,
       -8.99303558e-02,  2.92861034e-01, -7.19224433e-03,  0.00000000e+00,
        0.00000000e+00,  1.86914569e-03, -9.60518693e-01,  1.97794275e-01,
        3.67433491e-01,  7.46763487e-03,  0.00000000e+00,  0.00000000e+00,
        6.77257939e-04, -6.79075510e-01, -9.64275207e-01, -1.43637149e+00,
       -2.61729267e+00,  0.00000000e+00,  0.00000000e+00,  3.45776490e-02,
       -1.52815068e+00,  1.47287407e-01, -1.30786246e+00, -9.67485243e-04,
        0.00000000e+00,  0.00000000e+00, -9.13196150e-02, -6.48142079e+00,
       -8.20446032e-01, -1.57338374e+00, -7.27707770e-02,  0.00000000e+00,
        0.00000000e+00,  5.53178536e-02, -4.99273589e+00, -2.79595697e+00,
       -8.65626755e-01, -1.55140754e+00,  0.00000000e+00,  0.00000000e+00,
       -4.55043707e-01,  3.76443709e+00, -3.07132479e+00, -1.73499768e+00,
        4.79163466e+00,  0.00000000e+00,  0.00000000e+00, -3.35135831e+00,
       -3.13350926e-01, -2.13337546e+00,  1.65043407e-01, -2.32077314e-01,
        0.00000000e+00,  0.00000000e+00,  1.55464444e+01, -7.74425122e+00,
        4.37583953e+01,  3.25877323e+01,  9.89534977e-01,  0.00000000e+00,
        0.00000000e+00, -3.75908202e-01,  6.66557364e-01])

In [9]:
np.round(residuals)

array([ 0.,  0., -0., -2., -0.,  0., -0.,  0.,  0.,  0., -1.,  0.,  0.,
        0.,  0.,  0.,  0., -1., -1., -1., -3.,  0.,  0.,  0., -2.,  0.,
       -1., -0.,  0.,  0., -0., -6., -1., -2., -0.,  0.,  0.,  0., -5.,
       -3., -1., -2.,  0.,  0., -0.,  4., -3., -2.,  5.,  0.,  0., -3.,
       -0., -2.,  0., -0.,  0.,  0., 16., -8., 44., 33.,  1.,  0.,  0.,
       -0.,  1.])

In [10]:
model_experiment['positive test results'] = pd.to_numeric(model_experiment['positive test results']) + np.round(residuals)

In [11]:
pd.to_numeric(model_experiment['positive test results'])

0.0     0.000000
1.0     0.000000
2.0     0.010080
3.0    -1.443022
4.0     0.180061
          ...
62.0    1.801541
63.0    0.000000
64.0    0.000000
65.0    1.229400
66.0    1.562801
Name: positive test results, Length: 67, dtype: float64

In [13]:
model_experiment_check = pd.read_csv(r'/Users/meghanchilds/Desktop/Dissertation_Research/COVID-19-Model-Formal-Calibration/MCMC CSV Files/Model_experiment_data_frame_rerun_APR_24.csv', names =['days', 'tests administered', 'positive test results', 'isolation pool', 'modeled probability of a positive test'])
model_experiment_check

,days,tests administered,positive test results,isolation pool,modeled probability of a positive test
NaN,day,tests administered,pos_test_results_day,isolation_pool,models proba of a pos test
0.0,1.0,0.0,0.0,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.0,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.01007955935287349,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,0.5569784939179885,3.2948666062718583,0.002475459972968838
...,...,...,...,...,...
62.0,63.0,78.0,0.8015408286145453,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.0,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.0,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.2293999876683657,57.638750893604254,0.011598113091210996
66.0,67.0,47.333333333333336,0.5628012564616853,57.42056331186001,0.007926778260023736

In [14]:
model_experiment_check = model_experiment_check.drop(labels = np.nan, axis =0)
model_experiment_check

,days,tests administered,positive test results,isolation pool,modeled probability of a positive test
0.0,1.0,0.0,0.0,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.0,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.01007955935287349,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,0.5569784939179885,3.2948666062718583,0.002475459972968838
4.0,5.0,74.0,0.18006115624282018,3.5362386291890946,0.0024332588681462183
...,...,...,...,...,...
62.0,63.0,78.0,0.8015408286145453,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.0,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.0,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.2293999876683657,57.638750893604254,0.011598113091210996
66.0,67.0,47.333333333333336,0.5628012564616853,57.42056331186001,0.007926778260023736

In [15]:
check = model_experiment['positive test results'] - np.round(residuals)

In [16]:
pd.to_numeric(model_experiment_check['positive test results']) - check

0.0     0.0
1.0     0.0
2.0     0.0
3.0     0.0
4.0     0.0
       ...
62.0    0.0
63.0    0.0
64.0    0.0
65.0    0.0
66.0    0.0
Name: positive test results, Length: 67, dtype: float64

In [18]:
max(abs(pd.to_numeric(model_experiment_check['positive test results']) - check))

3.552713678800501e-15

In [19]:
model_experiment

,days,tests administered,positive test results,isolation pool,models proba pos test
0.0,1.0,0.0,0.000000,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.000000,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.010080,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,-1.443022,3.2948666062718583,0.002475459972968838
4.0,5.0,74.0,0.180061,3.5362386291890946,0.0024332588681462183
...,...,...,...,...,...
62.0,63.0,78.0,1.801541,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.000000,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.000000,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.229400,57.638750893604254,0.011598113091210996
66.0,67.0,47.333333333333336,1.562801,57.42056331186001,0.007926778260023736

In [20]:
len(model_experiment.iloc[:,0])

67

In [21]:
index = []
for i in range(len(model_experiment.iloc[:,0])):
    if float(model_experiment.iloc[i,2]) < 0:
        model_experiment.iloc[i,2] = 0

In [22]:
model_experiment

,days,tests administered,positive test results,isolation pool,models proba pos test
0.0,1.0,0.0,0.000000,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.000000,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.010080,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,0.000000,3.2948666062718583,0.002475459972968838
4.0,5.0,74.0,0.180061,3.5362386291890946,0.0024332588681462183
...,...,...,...,...,...
62.0,63.0,78.0,1.801541,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.000000,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.000000,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.229400,57.638750893604254,0.011598113091210996
66.0,67.0,47.333333333333336,1.562801,57.42056331186001,0.007926778260023736

In [23]:
model_experiment.to_csv('Uncertain_model_experiment_rerun_APR_24.csv')

In [23]:
model_experiment_uncertain = pd.read_csv(r'/Users/meghanchilds/Desktop/Dissertation_Research/COVID-19-Model-Formal-Calibration/Jupyter_Notebooks/Uncertain_model_experiment_rerun_march_24.csv', names =['days', 'tests administered', 'positive test results', 'isolation pool', 'models proba pos test'])

In [28]:
model_experiment_uncertain

,days,tests administered,positive test results,isolation pool,models proba pos test
NaN,days,tests administered,positive test results,isolation pool,models proba pos test
0.0,1.0,0.0,0.0,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.0,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.0100795593528734,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,1.5569784939179885,3.2948666062718583,0.002475459972968838
...,...,...,...,...,...
62.0,63.0,78.0,0.8015408286145453,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.0,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.0,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,0.22939998766836567,57.638750893604254,0.011598113091210996
66.0,67.0,31.555555555555557,0.3752008376411234,57.32918210865055,0.007926778260023736

In [29]:
model_experiment_uncertain = model_experiment_uncertain.drop(labels = np.nan, axis =0)
model_experiment_uncertain

,days,tests administered,positive test results,isolation pool,models proba pos test
0.0,1.0,0.0,0.0,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.0,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.0100795593528734,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,1.5569784939179885,3.2948666062718583,0.002475459972968838
4.0,5.0,74.0,0.1800611562428201,3.5362386291890946,0.0024332588681462183
...,...,...,...,...,...
62.0,63.0,78.0,0.8015408286145453,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.0,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.0,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,0.22939998766836567,57.638750893604254,0.011598113091210996
66.0,67.0,31.555555555555557,0.3752008376411234,57.32918210865055,0.007926778260023736

In [30]:
model_experiment_uncertain['positive test results'] = pd.to_numeric(model_experiment_uncertain['positive test results']) - np.round(residuals)

In [31]:
model_experiment_uncertain

,days,tests administered,positive test results,isolation pool,models proba pos test
0.0,1.0,0.0,0.000000,3.022041346971232,0.001765594051860898
1.0,2.0,0.0,0.000000,3.072965358124263,0.002580433201206867
2.0,3.0,4.0,0.010080,3.1053037622782518,0.0025198898382183723
3.0,4.0,225.0,0.556978,3.2948666062718583,0.002475459972968838
4.0,5.0,74.0,0.180061,3.5362386291890946,0.0024332588681462183
...,...,...,...,...,...
62.0,63.0,78.0,0.801541,62.76357015657441,0.010276164469417249
63.0,64.0,0.0,0.000000,60.56572673372324,0.010554889019153205
64.0,65.0,0.0,0.000000,58.68039891227562,0.0111087279018584
65.0,66.0,106.0,1.229400,57.638750893604254,0.011598113091210996
66.0,67.0,31.555555555555557,0.375201,57.32918210865055,0.007926778260023736

In [32]:
model_experiment_uncertain.to_csv('model_experiment_rerun_march_24.csv')